/*
* Gestion de la mise en page de l'ensemble des pages
*/

.w-100px{
    width: 100px !important;
}

/* Varaible couleurs */
:root {
  --blue-geocontact: rgb(36, 130, 176);
  --blue-light-geocontact: rgba(36, 130, 176, 0.6);
}

/* GLOBAL CSS */
#accueil img {
    max-width: 100%;
}

* {
    font-family: 'Karla', sans-serif;
}

.bg-blue-geocontact{
    background-color: var(--blue-geocontact);
}

.bg-blue-light-geocontact{
    background-color: var(--blue-light-geocontact) !important;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Accueil CSS */

#accueil{
    height: 200px;
}

.staggered.jumbotron{
    position: relative;
}

.staggered:nth-child(even){
    align-self: flex-end;
    right: 0px;
    border-radius: 10px 0 0 10px;
}

.staggered:nth-child(even) h3{
    border-radius: 10px 0 0 0;
}

.staggered:nth-child(odd){
    align-self: flex-start;
    left: 0px;
    border-radius: 0 10px 10px 0;
}

.staggered:nth-child(odd) h3{
    border-radius: 0 10px 0 0;
}

.staggered h3{
    margin: -24px -24px 24px;
    padding: 24px;
    border-radius: 10px 10px 0 0;
}


/* SECTION Admin dashboard */

.container.dashboard .table-wrapper-scroll-y.scrollbar {
    position: relative;
    height: calc(69.20px * 5);
    overflow: auto;
    }
.container.dashboard .table-wrapper-scroll-y {
    display: block;
    }
.container.dashboard header.head-list  {
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue-light-geocontact);
    position: relative;
    margin-top: 1rem;
}
.container.dashboard header.head-list h2 {
    color: #fff;
    display: inline-block;
}

.container.dashboard header.head-list .add-listing {
    text-align: right;
    display: block;
}
.container.dashboard header.head-list .add-listing button{
    border: none;
    background-color: unset;
    color: #fff;
    font-size: 1.2rem;
}
.container.dashboard header.head-list .add-listing button svg{
    width: 32px;
    height: 32px;
}

.container.dashboard .panel {
    background-color: #efefef;
    padding: 1.5rem;
}
.container.dashboard .panel .require-msg {
    color: RED;
    margin: 5px 0;
}
.container.dashboard .panel b {
    color: RED;
}
.container.dashboard .panel .btn.submit{
    text-align: right;
}
.container.dashboard .panel .btn.trash {
    color: #fff;
    display: inline-block;
}

.fa-edit,
.loc-DepId{
    cursor: pointer;
}

.custom-shadow{
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
}

tr.bg-blue-light-geocontact td {
    color: white;
}


/* !SECTION */

@media (max-width: 576px) {
    .container.dashboard header.head-list h2 {
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
    }
    .container.dashboard header.head-list .add-listing button svg {
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
    }

    
}


#edit-dep, #add-dep, #edit-loc, #add-loc, #add-contact, #edit-contact {
    display: none;
}

nav.admin-navigation,
nav.user-navigation {
    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #6196b0;
}

nav.admin-navigation .tab,
nav.user-navigation .tab {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav.admin-navigation .tab .item,
nav.user-navigation .tab .item {
    padding: 0.5rem;
    vertical-align: text-top;
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
}

nav.admin-navigation .btn,
nav.user-navigation .btn  {
    font-size: 0.6rem;
    padding: 0;
    height: 100%;
    width: 100%;
    line-height: 4;
}

/* Page de connexion admin */

#adminlog {
    background-color: #efefef;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#adminlog .form-control {
    color: #000000;
    background-color: #fff;
    border: 2px solid #ededed;
}

#adminlog .btn {
    background-color: #6196b0;
}

#cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 1rem;
    align-items: center;
    border: 2px solid var(--blue-geocontact);
    padding: 10px;
    border-radius: 5px;
}
#cookies .btn {
    margin: 2px 0;
    width: 100%;
}

/* Plan du site */

#sitemap {
    background-color: #efefef;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#sitemap h1 {
    text-align: center;
}

/* Mentions Légales */

#legals {
    background-color: #efefef;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#legals h2 {
    text-align: center;
}

/* Taille and colors*/

#adminlog .form-control {
    color: #000000;
    background-color: rgba(255, 255, 255, 1) !important;
    border: 2px solid #ededed;
    font-size: 1.5rem !important;
    padding: 0.5rem;
}

input{
    font-size: 1.5rem !important; 
    padding: 0.5rem !important;
    margin-bottom: 1rem;
}
.btn{
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
}

label{
    font-size: 1.5rem;
    color: #5a5a5a;
}
*{
    font-size: 1rem;
    color: #333;
    letter-spacing: 0px;
    line-height: 1.5rem;
}

#adminlog .btn-primary{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;

}

h1, h2, h3, h4, h5, h6{
    color: rgb(104, 104, 104);
}

.form-group{
    margin-bottom: 2.5rem;
}

.admin-navigation .col-4{
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    align-content: stretch;
    padding-right: 0;
}

nav.admin-navigation .btn{
    font-size: 1rem;
    display: flex;
    align-content: center;
    padding: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
   
}

.admin-navigation .tab li{
    text-transform: uppercase;
    font-weight: bold;
}

.table th, .table td{
    padding: 0.5rem;
}

th{
    font-size: 1rem !important;
    text-align: center;
}
td{
    font-size: 1.2rem !important;
    height: 2em;
    vertical-align: middle !important;
    text-align: center;
}

#add-loc .panel .container,
#add-dep .panel .container{
    padding: unset;
}

#adminlog{
    background-color: unset;
}


/* Modal départements */
#modalDepartements .modal-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#modalDepartements .modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue-light-geocontact);
    border-bottom: 0;
}

#modalDepartements .modal-title {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
}

#modalDepartements .modal-body {
    padding: 0;
    height: 70vh;
    overflow-y: scroll;
}

/* Modal départements */
#modalDepartements .modal-content {
    border-radius: 10px;
    max-height: 80vh;
}
#modalDepartements .modal-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: var(--blue-light-geocontact);
    border-bottom: 0;
}

#modalDepartements .modal-title {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
}

#modalDepartements .modal-body {
    padding: 0;
    overflow-y: scroll;
    margin-bottom: 0px;
}

#modalDepartements .modal-footer{
    position: sticky;
    bottom: 28px;
    background-color: #343a40;
    border-radius: 0 0 7px 7px !important;
}
/* Deconnection button*/
#adminlog{
    background-color: unset;
}

.admin-navigation .container .row{
max-height: unset;
}

.admin-navigation .container .row div{
    display: flex;
    align-items: stretch;
   
    
}

nav.admin-navigation .btn{
    width: unset;
    height: unset;
line-height: unset;
    
}

svg * {
    color: #fff !important;
}

footer nav div a,
footer nav div span {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.container.dashboard .panel .require-msg{
    margin-bottom: 0.5rem;
    display: block;
}
nav.admin-navigation .tab .item{
    padding-left:unset;

}

nav.admin-navigation .tab{
    padding-right: unset;
    margin-right: unset;
}

.admin-navigation .container .row div{
    padding-right: unset;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    footer .login-admin {
        display:none;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    footer .login-admin {
        display:none;
    }
 }
