/*
* Gestion de la mise en page de l'ensemble des pages
*/

/* NOTE scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue-light-geocontact); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-geocontact);
}

/* Varaible couleurs */
:root {
  --blue-geocontact: rgb(36, 130, 176);
  --blue-light-geocontact: rgba(36, 130, 176, 0.6);
}

/* GLOBAL CSS */

* {
    font-family: 'Karla', sans-serif;
}

.bg-blue-geocontact{
    background-color: var(--blue-geocontact);
}

.bg-blue-light-geocontact{
    background-color: var(--blue-light-geocontact);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Accueil CSS */

#accueil{
    height: 200px;
}

.staggered.jumbotron{
    position: relative;
}

.staggered:nth-child(even){
    align-self: flex-end;
    right: 0px;
    border-radius: 10px 0 0 10px;
}

.staggered:nth-child(even) h3{
    border-radius: 10px 0 0 0;
}

.staggered:nth-child(odd){
    align-self: flex-start;
    left: 0px;
    border-radius: 0 10px 10px 0;
}

.staggered:nth-child(odd) h3{
    border-radius: 0 10px 0 0;
}

.staggered h3{
    margin: -24px -24px 24px;
    padding: 24px;
    border-radius: 10px 10px 0 0;
}

#cookies {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 15px;
  width: calc(100vw - 30px);
  align-items: center;
  border: 2px solid var(--blue-geocontact);
  border-radius: 15px; 
  padding: 10px;
  height: 20%;
}

#cookiesChoices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#cookiesChoices button {
  height: 40%;
}


/* SECTION Admin dashboard */

.container.dashboard .table-wrapper-scroll-y.scrollbar {
    position: relative;
    height: calc(69.20px * 5);
    overflow: auto;
    }
.container.dashboard .table-wrapper-scroll-y {
    display: block;
    }
.container.dashboard header.head-list  {
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue-light-geocontact);
    position: relative;
    margin-top: 1rem;
}
.container.dashboard header.head-list h2 {
    color: #fff;
    display: inline-block;
}

.container.dashboard header.head-list span.add-listing {
    float: right;
    display: inline-block;
}
.container.dashboard header.head-list span.add-listing button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: unset;
    color: #fff;
    font-size: 1.2rem;
}
.container.dashboard header.head-list span.add-listing button svg{
    width: 32px;
    height: 32px;
}

.container.dashboard .panel {
    background-color: #efefef;
    padding: 1.5rem;
}
.container.dashboard .panel .require-msg {
    color: RED;
    margin: 5px 0;
}
.container.dashboard .panel b {
    color: RED;
}
.container.dashboard .panel .btn.submit{
    text-align: right;
}
.container.dashboard .panel .btn.trash {
    color: #fff;
    display: inline-block;
}
/* !SECTION */