/*
* Gestion de la mise en page de l'ensemble des pages
*/

/* Varaible couleurs */
:root {
  --blue-geocontact: rgb(36, 130, 176);
  --blue-light-geocontact: rgba(36, 130, 176, 0.6);
}

/* GLOBAL CSS */

* {
    font-family: 'Karla', sans-serif;
}

.bg-blue-geocontact{
    background-color: var(--blue-geocontact);
}

.bg-blue-light-geocontact{
    background-color: var(--blue-light-geocontact);
}

footer{
    position: relative;
    bottom: 0;
}

/* Accueil CSS */

#accueil{
    height: 200px;
}

.staggered.jumbotron{
    position: relative;
}

.staggered:nth-child(even){
    align-self: flex-end;
    right: 0px;
    border-radius: 10px 0 0 10px;
}

.staggered:nth-child(even) h3{
    border-radius: 10px 0 0 0;
}

.staggered:nth-child(odd){
    align-self: flex-start;
    left: 0px;
    border-radius: 0 10px 10px 0;
}

.staggered:nth-child(odd) h3{
    border-radius: 0 10px 0 0;
}

.staggered h3{
    margin: -24px -24px 24px;
    padding: 24px;
    border-radius: 10px 10px 0 0;
}

#cookies {
  position: fixed;
  bottom: 30px;
  left: 15px;
  width: calc(100vw - 30px);
  display: flex;
  align-items: center;
  border: 2px solid var(--blue-geocontact);
  border-radius: 15px; 
  padding: 10px;
  height: 20%;
}

#cookiesChoices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#cookiesChoices button {
  height: 40%;
}